*{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}


#fdaSearch{
  width: 20%;
  height: 35px;
}

button{
  width: 10%;
  height: 40px;
  font-size: 120%;
  margin-bottom: 5%;
  border-radius: 5px;
  border:1px solid gray;
}

#bottle{
  width: 10%;
  position: relative;
  margin-top: -10%;
  margin-left: -40%;
}

nav {
  background-color: #495da2;
  height: 200px;
}

img {
  height: 200px;
}